name: Generate Clean Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:
      - name: Generate clean snake
        uses: Platane/snk@v3
        with:
          github_user_name: jugal1101
          outputs: |
            dist/github-snake.svg
            dist/github-snake-clean.svg?palette=github-light

      - name: Push snake
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output 
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
